{% extends 'base.html' %}
{% load static %}
{% block title %}Grand Event{% endblock %}
{% block content %}
{% for message in messages %}
{% if message.tags == "error" %}
<div role="alert" class="alert alert-error mt-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ message }}</span>
</div>
{% else %}
<div role="alert" class="alert alert-success mt-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{message}}</span>
</div>
{% endif %}
{% endfor %}
<!-- Hero section -->
<section class="lg:py-16 overflow-x-hidden">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="lg:mt-0 lg:col-span-8 lg:flex lg:overflow-x-auto">
            <img src="{{grand_event.image.url}}" alt="{{grand_event.title}}" class="responsive-img"
                style="max-width: none; width: 100%;" />
        </div>
        <div class="mr-auto place-self-center lg:col-span-4">
            <span
                class="bg-clip-text text-2xl font-extrabold text-transparent bg-gradient-to-r from-yellow-500 to-red-400 animate-gradient-x">
                AWS
            </span>
            <h1
                class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-2xl xl:text-5xl text-white">
                {{grand_event.title}}
            </h1>
            <h2
                class="mb-4 text-1xl font-normal tracking-tight text-white leading-none md:text-1xl lg:text-2xl ">
                <span
                    class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
                    {{grand_event.description}}
                </span>
            </h2>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">

            </p>
            <a href="https://forms.gle/g25VPzBad4W43wj98"
                class="inline-flex items-center justify-center px-10 py-3 text-base font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                Grab Your Ticket
            </a>
        </div>
    </div>
</section>

<!-- student Community Day -->
<section class="py-16 border border-gray-100 lg:mx-15 md:mx-5">
    <div class="mx-auto max-w-screen-xl text-center lg:py-2 lg:px-12">
        <h1
            class="mb-4 text-2xl font-extrabold tracking-tight leading-none  md:text-3xl lg:text-4xl text-white">
            {{grand_event.title}}
        </h1>
        <p class="px-5 mx-5 text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
            {{grand_event.description}}
        </p>
        <p class="px-5 mx-5 text-orange-300 lg:mb-8 md:text-lg lg:text-3xl">
            {{grand_event.venue}}
        </p>
        <div class="flex justify-center items-center">
            <div class="flex flex-row justify-center items-center">
                <p
                    class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x px-5 text-lg font-bold text-emerald-500 lg:mb-8 md:text-lg lg:text-2xl">
                    {{grand_event.startDate}} - {{grand_event.endDate}}
                </p>
            </div>
        </div>



        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <div class="sm:mx-3 sm:my-6 sm:px-2">
                    <a href="https://forms.gle/g25VPzBad4W43wj98"
                        class="btn bg-purple-600 inline-flex items-center justify-center px-10 py-3 text-base font-extrabold text-center text-white rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 mt-4"
                        id="eventAttend" type="submit">
                        Grab Your Ticket
                    </a>
                
            </div>
        </div>
    </div>
</section>

{% comment %} cms {% endcomment %}
<br>
<section class="py-16 px-4">
    <main
        class="mt-5 bg-gradient-to-r from-purple-800 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-transparent dark:bg-transparent antialiased rounded-lg">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article
                class="mx-auto w-full  format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                {{grand_event.detail|safe}}
            </article>
        </div>
    </main>
</section>


<!-- event description -->
<!-- Event Highlights -->
<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Sessions
    </span>
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <!-- Card 1 -->
    {% for session in grand_event.session.all %}
    <div
        class="p-7 bg-transparent border border-gray-200 rounded-lg shadow dark:bg-transparent dark:border-gray-700 gradient-border cursor-pointer hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 transition-all duration-300 ease-in-out">
        <h3>{{session.location}}</h3>
        <img class="py-5 border-gray-200 rounded-lg" src="{{session.image.url}}" alt="{{session.title}}">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white dark:text-white">{{session.title}}</h5>
        <p class="mb-3 font-light text-gray-200 dark:text-gray-200 lg:mb-8 md:text-lg lg:text-xl">
            {{session.description}}</p>
        <!-- <p class="mb-3 font-light text-gray-200 dark:text-gray-200 lg:mb-8 md:text-lg lg:text-xl"><strong>Start
                time:</strong>{{session.startTime}}</p>
        <p class="mb-3 font-light text-gray-200 dark:text-gray-200 lg:mb-8 md:text-lg lg:text-xl"><strong>End
                time:</strong>{{session.endTime}}</p> -->
    </div>
    {% endfor %}
</div>


<!-- Speaker -->
<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Speaker
    </span>
</h2>

<div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3 lg:grid-cols-4">
        {% for speaker in grand_event.guest_speakers.all %}
        <div class="relative flex flex-col text-gray-700 bg-transparent shadow-md bg-clip-border rounded-xl w-full m-[24px] border border-green-200v">
            <div
                class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
                <img src="{{speaker.SpeakerPhoto.url}}" alt="{{speaker.SpeakerName}}"
                    class="w-full h-full object-cover" />
            </div>
            <div class="p-6 text-center">
                <h4
                    class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-white">
                    {{speaker.SpeakerName}}
                </h4>
                <p
                    class="block text-white  antialiased font-medium leading-relaxed bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
                    {{speaker.SpeakerBio}}
                </p>
            </div>
            <div class="flex justify-center p-6 pt-2 gap-7">
                {% if speaker.facebook_link %}
                <a href="{{speaker.facebook_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-black">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                {% endif %}
                {% if speaker.linkedin_link %}
                <a href="{{speaker.linkedin_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-black">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                {% endif %}
                {% if speaker.github_link %}
                <a href="{{speaker.github_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-black">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>






<!-- Sponsors -->
<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Sponsor
    </span>
</h2>
<div class="py-16 lg:mx-15 md:mx-5 grid grid-cols-1 md:grid-cols-2 gap-5">
    <!-- Sponsorship Cards -->
    {% for sponser in grand_event.event_sponsers.all %}
    {% if forloop.first %}
    <!-- Styling for the first sponsor with href link -->
    <div
        class="col-span-1 p-7 shadow-lg rounded-lg bg-gradient-to-r from-purple-800 hover:bg-green-500 transition-colors">
        <a href="https://pmsquare.com/">
            <img class="mx-auto py-5 rounded-lg" src="{{sponser.merchant_logo.url}}" alt="{{sponser.merchant_name}}">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                {{sponser.merchant_name}}</h5>
        </a>
        <p class="mb-3 font-light text-gray-300  lg:mb-8 md:text-lg lg:text-xl">
            {{sponser.merchant_desc}}
        </p>
    </div>
    {% else %}
    <!-- Regular styling for the rest of the sponsors -->
    <div class="col-span-1 p-7 shadow-lg rounded-lg bg-gradient-to-r from-purple-800">
        <a>
            <img class="mx-auto py-5 rounded-lg" src="{{sponser.merchant_logo.url}}" alt="{{sponser.merchant_name}}">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-gray-100">
                {{sponser.merchant_name}}</h5>
        </a>
        <p class="mb-3 font-light text-gray-700 dark:text-gray-300 lg:mb-8 md:text-lg lg:text-xl">
            {{sponser.merchant_desc}}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>



<!-- Community Partner -->
<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Community Partner
    </span>
</h2>

<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
        <!-- Card 1 -->
        <div class="border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.facebook.com/CodeForChangeNepal">
                <img class="rounded-t-lg" src="{% static 'assets/logos/codeforchange.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white ">
                        Code for Change
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    It is an exposure opportunity for the students with practical application of the latest technology
                    they have been learning in their classrooms.
                </p>
                <a href="https://www.facebook.com/CodeForChangeNepal"
                    class="inline-flex items-center justify-center px-10 py-3 text-white font-extrabold text-center border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.facebook.com/awsugnepal">
                <img class="rounded-t-lg" src="{% static 'assets/logos/awsusergroupnepal.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        AWS User Group Nepal
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    AWS User Group Nepal is a community of cloud enthusiasts sharing knowledge, hosting events, and fostering collaboration around AWS technologies in Nepal.
                </p>
                <a href="https://www.facebook.com/awsugnepal"
                    class="inline-flex items-center justify-center px-10 py-3  font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- mid western region -->

        <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.facebook.com/groups/194365803232547">
                <img class="rounded-t-lg" src="{% static 'assets/logos/midwesternusergroup.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        AWS User Group Nepal - Midwestern Region
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    AWS User Group Nepal - Midwestern Region is a community of cloud enthusiasts sharing knowledge, hosting events, and fostering collaboration around AWS technologies in  Western part of Nepal.
                </p>
                <a href="https://www.facebook.com/groups/194365803232547"
                    class="inline-flex items-center justify-center px-10 py-3  font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.facebook.com/csitan">
                <img class="rounded-t-lg" src="{% static 'assets/logos/csitassociation.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        CSIT Association of Nepal
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">

                    The CSIT Association of Nepal (CSITAN), founded in 2011 by BScCSIT students, is a non-profit organization aimed at linking faculty, students, and IT industries in Nepal</p>
                <a href="https://www.facebook.com/csitan"
                    class="inline-flex items-center justify-center px-10 py-3 font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

         <!-- Pentester Nepal -->
         <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.facebook.com/pentesternepal">
                <img class="rounded-t-lg" src="{% static 'assets/logos/pentester.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                       Pentester Nepal
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Pentester Nepal is a community advancing cybersecurity and ethical hacking in Nepal, with over 6,500 members since 2013.
</p>
                <a href="https://www.facebook.com/pentesternepal"
                    class="inline-flex items-center justify-center px-10 py-3 font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- card 4 -->
        <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.linkedin.com/company/itech-karnali/posts/?feedView=all">
                <img class="rounded-t-lg" src="{% static 'assets/logos/itechkarnali.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Itech Karnali
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    iTech.Karnali is a tech community led by computer and tech enthusiasts. This community provides opportunities for collaboration, idea sharing, and creating opportunities for students all over Nepal.
                </p>
                <a href="https://www.linkedin.com/company/itech-karnali/posts/?feedView=all"
                    class="inline-flex items-center justify-center px-10 py-3 text-base font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- card 5 -->
        <div class=" border border-gray-200 rounded-lg shadow bg-transparent border-gray-700">
            <a href="https://www.linkedin.com/company/aws-user-group-women-in-tech-nepal/">
                <img class="rounded-t-lg" src="{% static 'assets/logos/womenawsusergroup.png' %}" alt="Club Logo" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        AWS User Group Women in Tech Nepal
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                   
 AWS User Group Women In Tech Nepal! It's a vibrant community-driven platform powered by Amazon Web Services (AWS).
                </p>
                <a href="https://www.linkedin.com/company/aws-user-group-women-in-tech-nepal/"
                    class="inline-flex items-center justify-center px-10 py-3 text-base font-extrabold text-center text-white border border-gray-300 rounded-lg hover:bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 me-2 mb-2">
                    Visit them
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Add more cards as needed -->

    </div>
</div>


<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Timeline
    </span>
</h2>

<div class="box-section1">
    <div class="container1">
      <ul class="box-container1">
        <li>
          <div>
            <div>
              <div>8:30 am - 9:00 am <br> Tea and Snacks </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>9:00 am - 9:40 am <br> Welcome Ceremony </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>9:40 am - 10:10 am <br> Jen looper and Sambit Bhattarai <br>
                <i> Key Note </i>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>10:10 am - 10:20 am <br> Anjanai Phuyal </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>10:20 am - 10:40 am <br>Sanjeev Pant</div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>10:40 am - 10:50 am <br>Fr. Dr. Thomas Augustine S.J. (SXC)</div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>10:50 am - 10:55 am<br>Music</div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>11:00 am - 11:10 am <br>Subarna Shakya</div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>11:10 am - 11:20 am <br>Prerana Sapkota</div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>11:20 am - 11:40 am <br> PMSquare </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>11:40 am - 12:00 pm <br> Bibhusa Bista   </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>12:00 pm - 12:15 pm <br> Abiral Sangroula </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>12:15 pm - 12:30 pm <br> Shushant Paudyal </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>12:30 pm - 1:20 pm <br> Panel Discussion </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>1:20 pm - 2:00 pm <br> Launch Break </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <p style="color: #fff;">First Parallel Session <br> 2:00 pm - 2:45 pm</p>
              <div> 1 </div>
              <div> 2 </div>
              <div> 3 </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <p style="color: #fff;">Second Parallel Session <br> 2:55 pm - 3:40 pm</p>
              <div> 1 </div>
              <div> 2 </div>
              <div> 3 </div>
              <div> 4 </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <p style="color: #fff;">Third Parallel Session <br> 3:50 pm - 4:30 pm</p>
              <div> 1 </div>
              <div> 2 </div>
              <div> 3 </div>
              <div> 4 </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>4:15 pm - 5:15 pm <br>Closing Ceremony </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div>
              <div>5:15 pm - 5:30 pm <br>Networking  </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

<h2
    class=" my-16  text-4xl font-bold tracking-tight leading-none text-center text-gray-900 md:text-4xl lg:text-4xl dark:text-white">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500 animate-gradient-x">
        Organizing Committee
    </span>
</h2>


<div class="grid grid-cols-2 gap-8 mb-6 lg:mb-16">
    {% if grand_event.responsible_teams %}
    {% for team in grand_event.responsible_teams.all %}
    <div class="flex flex-col md:flex-row items-center rounded-lg shadow dark:bg-gradient-to-r from-purple-800 dark:border-gray-700">
        <img class="w-full md:w-1/3 rounded-t-lg md:rounded-none md:rounded-l-lg" src="{{team.profile_image.url}}" alt="{{team.name}}">
        <div class="p-5 flex-1">
            <h3 class="text-xl font-bold tracking-tight text-white ">
                <a href="#">{{team.name}}</a>
            </h3>
            <span class="text-gray-500 dark:text-gray-400">{{team.role}}</span>
            <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">{{team.responsibility}}</p>
            <ul class="flex space-x-4 sm:mt-0">
                {% if team.facebook_link %}
                <li>
                    <a href="{{team.facebook_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% if team.linkedin_link %}
                <li>
                    <a href="{{team.linkedin_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% if team.github_link %}
                <li>
                    <a href="{{team.github_link}}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div> 
    {% endfor %}
    {% else %}
    <p class='text-2xl'>No teams available</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    var count = $(".box-container").find("li").length;
var x = 3;
var y = count % x;
if (y == 1) {
  $(".box-container").append(
    '<li class="before-none"><div></div></li> <li class="before-none"><div></div></li>'
  );
}
if (y == 2) {
  $(".box-container").append('<li class="before-none"><div></div></li>');
}

</script>
{% endblock %}